* {
	font-size: 16px;
	color: #c0caf5;
}

#window {
	background-color: rgba(41, 46, 66, 0.9);
	border-radius: 10px;
}

#outer-box {
	border: 3px solid #41a6b5;
	border-radius: 10px;
}

#input {
    background: rgba(31, 35, 53, 0.1);
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 22px;
	padding: 10px;
}

#entry {
	padding: 10px;
}

/* make the entries align even if some have an expander arrow showing */
#img {
	padding-right: 8px;
}
#img {
	padding-left: 16px;
}
expander #img {
	padding-left: 0;
}

